@using Reddit.Controllers
@{
    string? subredditName = ViewData["subredditName"] as string;
    IEnumerable<Post> posts = ViewData["posts"] as List<Post> ?? new List<Post>();
    ViewData["Title"] = "Subreddit Information and Metrics";
}

<section>
    <p><h2>@subredditName</h2></p>
    @foreach (var post in posts)
    {
        <div class="post-container">
            <h3 class="post-title">@post.Title</h3>
            <div class="post-details">
                <span class="post-author">Author: @post.Author</span>
                <span class="post-score">Score: @post.Score</span>
            </div>
        </div>
    }
</section>
